:root {
    --border-radius: 20px;
    --objects-background: rgba(0, 0, 0, 0.38);
    --font-size: 100px;
}

html {
    --s: 28px; /* control the size*/
    --c1: #74b573;
    --c2: #2f5675;
    
    --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
    background:
      var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
      repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
      repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
    background-size: calc(4*var(--s)) calc(4*var(--s));
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

p, span {
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

*{
	user-select: none;
}

button{
	cursor: pointer;
}

input{
	position: absolute;
	opacity: 0%;
}

#progressBar{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 10px;
	background-color: rgba(111, 255, 0, 0.141);
}

#progressBar div{
	position: absolute;
	height: 100%;
	top: 0;
	background-color: rgb(205, 156, 156);
} 

button{
	font-size: var(--font-size);
	padding: 50px;
	border: unset;
	border-radius: var(--border-radius);
	color: rgb(241, 255, 240);
	background-color: var(--objects-background);
}

#currentWord{
	font-size: var(--font-size);
}

.currentLetter{
	color: rgb(246, 63, 112);
}

.data{
	color: white;
	padding: 20px;
	background-color: var(--objects-background);
	border-radius: var(--border-radius);
}

#correctElement span{
	color: rgb(217, 255, 217);
}

#incorrectElement span{
	color: rgb(255, 217, 217);
}

.hidden{
	display: none;
}

.invisible{
	opacity: 0%;
}

.show{
	animation: show;
	animation-duration: 500ms;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.disappear{
	position: absolute;
	font-size: var(--font-size);
	top: var(--top);
	left: var(--left);
	animation-duration: 500ms;
	animation-name: disappear;
	animation-timing-function: ease-in-out;
}

.completeTime{
	animation-duration: var(--tiempo);
	animation-name: completeTime;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes show {
	0%{
		opacity: 0%;
	}
	100%{
		opacity: 100%;
	}
}

@keyframes disappear{
	0%{

	}
	50%{
		color: rgb(69, 91, 136);
	}
	100%{
		transform: translateY(-100%);
		opacity: 0%;
		font-size: calc( var(--font-size) / 2 );
	}
}

@keyframes completeTime{
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}